.App{
  margin-top: 100px;
  width: 80vw;
  margin-inline: auto;
}

.header{
  display: flex;
  
  justify-content: space-between;
  align-items: center;
}

.row-1{
  display: flex;
  justify-content: space-between;
  align-items: center;
}